.about {
    padding-top: 120px;
    &__wrapper {
        display: grid;
        grid-template-columns: 630px 480px;
        grid-template-rows: auto minmax(330px, auto);
        column-gap: 30px;
    }
    &__photo {
        grid-column: 1 / 2;
        grid-row: 1 / 3;
        position: relative;
        &-diploma {
            position: absolute;
            background: $main-color;
            width: 615px;
            min-height: 580px;
            left: 15px;
            top: 15px;
            padding: 470px 70px 0 80px;
            z-index: -1;
        }
        &-text {
            color: #FFFFFF;
        }
        &-icons {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 6px;
        }
        &-image {
            img {
                width: 614px;
            }
        }
    }
    &__title {
        position: relative;
        @include before_glitter;
        &:before {
            top: -35px;
            transform: translateX(70%);
        }
    }
    &__titles {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
    &__text {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        margin-top: 84px;
        font-size: 14px;
        line-height: 21px;
    }
}