.promo {
    min-height: 100vh;
    position: relative;
    background: url('../img/main_bg.jpg') no-repeat 50%/cover;
    padding-top: 205px;
    &__title {
        position:relative;
        width: 535px;
        margin-top: 10px;
        padding-left: 122px;
        z-index: 2;
        @include before-glitter;
    }
    &__subtitle-big {
        position:relative;
        width: 535px;
        margin-top: 10px;
        padding-left: 122px;
        z-index: 2;
    }
    &__subtitle {
        width: 550px;
        padding: 27px 0 0 110px;
        font-family: 'Montserrat Alternates', sans-serif;
        text-align: center;
        z-index: 4;
        font-weight: 400;
    }
    &__btns {
        margin: 85px 0 0 96px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 480px;
        z-index: 2;
    }
    &__small {
        margin: 85px 0 0 96px;
        display: none;
        align-items: center;
        justify-content: center;
        width: 260px;
    }
    &__link {
        color: #000;
        font-weight: bold;
        &:hover {
            color: #000;
            text-decoration: none;
        }
        &-left {
            color: #fff;
            font-weight: bold;
            &:hover {
                color: #fff;
                text-decoration: none;
            }
        }
    }
}